html, body{
    width: 100%;
    max-height: 100%;
    padding: 0;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile__header{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    width:100%;
}

.profile__avatar{
    background: url('https://avatars3.githubusercontent.com/u/13644162');
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 100px;
    margin: 0 auto;
    box-shadow: 0px 3px 6px 2px #9e9e9e61;
}

.profile__description{
    font-size:20px;
    line-height: 1;
}

.socials__container{
    display: flex;
    flex-direction: row;
    font-size: 1em;
    justify-content: space-evenly;
    width: 30%;
    margin: 0 auto;
}

@media only screen and (max-width:425px){
.socials__container{
    width: 100%;
}
}

.socials__item{
    width:100%;
}

.profile__small{
    font-size: 16px;
    font-weight: 100;
}

.profile__jtitle{
    font-weight: 100;
}

.profile__jLang{
    font-weight: 500;
    margin-top: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px;
}